<div class="col-sm-4 <%= "col-sm-offset-2" if item_counter % 2 == 0 %>">
  <div class="thumbnail">
    <%= image_tag item[:image] %>
    <div class="caption">
      <h3><%= item[:title] %></h3>
      <p><%= item[:details] %></p>
      <p><a href="#" class="btn btn-default" role="button">Read More</a></p>
    </div>
  </div>
</div>